*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin-top: 0.5rem;
}



.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 520px;
    top: 5rem;
    background: blue;
    border: 2px solid black;
    padding: .5rem;

}

.container table tr td{
    width: 90px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}


.reset{
    position: absolute;
    top:32rem;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 0.3rem;
    border: 1px solid black;
    cursor: pointer;
}